{% extends 'base.html' %}
{% block content %}
    <form action='' method='post'>
        {% csrf_token %}
        Enter 1st number : <input type='text' name='title' value='{{posts.title}}' placeholder='title'>
        Enter 2nd number : <input type='text' name='content'  value='{{posts.content}}' placeholder='content'>
        <input type='submit'>
    </form>

    <div>
        {% for message in messages %}
            <h1> {{message}}</h1>
        {% endfor %}
    </div>
{% endblock content %}